<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <input type="text" [(ngModel)]="prueba"/>
  <h1>{{prueba}}</h1>
  <app-todo-detail [todo]="prueba"></app-todo-detail>
  <app-pueblo [ciudad]="ciudad" [pais]="pais"  (PasameElPueblo)="showPueblo($event)"></app-pueblo>
  <p>El pueblo recibido es : {{puebloRecibido}}
</div>
<div>
  <app-search [datos]="datosDelArray"></app-search>
</div>
<div>
  <app-visualizar-fotos></app-visualizar-fotos>
</div>

<router-outlet></router-outlet>
